/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$background-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$text-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$primary-color};
  --global-hover-color: #{$primary-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$white-color};
  --global-highlight-color: #{$danger-color};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($primary-color, "red", $space: rgb)},
    #{color.channel($primary-color, "green", $space: rgb)},
    #{color.channel($primary-color, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #{$black-color};

  --global-tip-block: #198754;
  --global-tip-block-bg: #D1E7DD;
  --global-tip-block-text: #146C43;
  --global-tip-block-title: #198754;
  --global-warning-block: #FFC107;
  --global-warning-block-bg: #FFF8D8;
  --global-warning-block-text: #6B5900;
  --global-warning-block-title: #FFC107;
  --global-danger-block: #DC3545;
  --global-danger-block-bg: #FFE0E0;
  --global-danger-block-text: #A71D2A;
  --global-danger-block-title: #DC3545;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$dark-color};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$light-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$primary-color};
  --global-hover-color: #{$primary-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($primary-color, "red", $space: rgb)},
    #{color.channel($primary-color, "green", $space: rgb)},
    #{color.channel($primary-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #{$grey-color-dark};

  --global-tip-block: #198754;
  --global-tip-block-bg: #D1E7DD;
  --global-tip-block-text: #146C43;
  --global-tip-block-title: #198754;
  --global-warning-block: #FFC107;
  --global-warning-block-bg: #FFF8D8;
  --global-warning-block-text: #6B5900;
  --global-warning-block-title: #FFC107;
  --global-danger-block: #DC3545;
  --global-danger-block-bg: #FFE0E0;
  --global-danger-block-text: #A71D2A;
  --global-danger-block-title: #DC3545;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
